<div class="detail-content container-fluid">
<p style="text-align: justify;"><strong>I/ QUY ĐỊNH CHUNG</strong></p>
<p style="text-align: justify;">Nhằm đảm bảo quyền lợi người ti&ecirc;u d&ugrave;ng, n&acirc;ng cao chất lượng dịch vụ sau b&aacute;n h&agrave;ng, Jumperkids sẽ hỗ trợ Qu&yacute; kh&aacute;ch đổi sản phẩm mới c&ugrave;ng loại nếu sản phẩm gặp sự cố do lỗi kỹ thuật của nh&agrave; sản xuất. Sản phẩm chỉ được đổi khi đ&aacute;p ứng đầy đủ c&aacute;c điều kiện sau dưới đ&acirc;y.</p>
<p style="text-align: justify;"><strong>II/ ĐIỀU KIỆN &Aacute;P DỤNG</strong></p>
<p style="text-align: justify;">1/ Sản phẩm chỉ được đổi trong khoảng thời gian 1 th&aacute;ng kể từ khi giao h&agrave;ng.</p>
<p style="text-align: justify;">2/ Sản phẩm phải c&ograve;n nguy&ecirc;n tem ni&ecirc;m phong dán tr&ecirc;n sản ph&acirc;̉m của Jumperkids.</p>
<p style="text-align: justify;">3/ Sản phẩm được x&aacute;c định bị lỗi kỹ thuật (qua ảnh) do Jumperkids x&aacute;c nh&acirc;̣n.</p>
<p style="text-align: justify;">4/ Sản phẩm nhận lại phải c&ograve;n nguy&ecirc;n vẹn, đầy đủ c&aacute;c phụ kiện k&egrave;m theo, qu&agrave; khuyến m&atilde;i (nếu c&oacute;)&hellip;</p>
<p style="text-align: justify;">5/ Sản phẩm khi nhận lại phải c&oacute; đầy đủ c&aacute;c chứng từ k&egrave;m theo như (chứng từ mua h&agrave;ng, h&oacute;a đơn VAT, phiếu bảo h&agrave;nh, s&aacute;ch hướng dẫn, catalogue&hellip;)</p>
<p style="text-align: justify;"><strong>III/ TRƯỜNG HỢP KH&Ocirc;NG CHẤP NHẬN ĐỔI TRẢ</strong></p>
<p style="text-align: justify;">1/ Qu&yacute; kh&aacute;ch muốn thay đổi chủng loại, mẫu m&atilde; nhưng kh&ocirc;ng th&ocirc;ng b&aacute;o trước.</p>
<p style="text-align: justify;">2/ Qu&yacute; kh&aacute;ch lắp đặt, vận h&agrave;nh kh&ocirc;ng đ&uacute;ng chỉ dẫn g&acirc;y hỏng h&oacute;c sản phẩm.</p>
<p style="text-align: justify;">3/ Qu&yacute; kh&aacute;ch kh&ocirc;ng thực hiện c&aacute;c quy định theo y&ecirc;u cầu để được hưởng chế độ bảo h&agrave;nh (v&iacute; dụ kh&ocirc;ng gửi phiếu bảo h&agrave;nh về đ&uacute;ng nơi quy định trong thời gian quy định).</p>
<p style="text-align: justify;"><strong>IV/ QUY TR&Igrave;NH XỬ L&Yacute; THỦ TỤC ĐỔI TRẢ H&Agrave;NG</strong></p>
<p style="text-align: justify;">1/ Qu&yacute; kh&aacute;ch li&ecirc;n hệ trực tiếp với hotline tr&ecirc;n website đ&ecirc;̉ được h&ocirc;̃ trợ bảo hành và đ&ocirc;̉i trả sản ph&acirc;̉m.</p>
<p style="text-align: justify;">Sau khi được x&aacute;c nhận t&igrave;nh trạng h&agrave;ng h&oacute;a hư hỏng do lỗi kỹ thuật việc đổi h&agrave;ng sẽ được thực hiện cho Quý khách hàng.</p>
<p style="text-align: justify;">2/ Quy tr&igrave;nh xử l&yacute; thủ tục đổi hoặc trả h&agrave;ng được thực hiện trong v&ograve;ng 7 (bảy) ng&agrave;y t&iacute;nh từ ng&agrave;y nhận đủ th&ocirc;ng tin v&agrave; c&aacute;c giấy tờ từ ph&iacute;a kh&aacute;ch h&agrave;ng.</p>
<h3 style="text-align: center;"><strong>XEM TH&Ocirc;NG TIN CHI TI&Ecirc;́T SẢN PH&Acirc;̉M <a href="/">TẠI Đ&Acirc;Y</a></strong>&nbsp;</h3>
<p style="text-align: center;"><a href="/"><strong><img class="img-fluid" src="https://i.imgur.com/aZhSiKU.png" width="500" height="353" /></strong></a></p>
</div>
