<p style="text-align: justify;">Bảng chiều cao c&acirc;n nặng của trẻ từ sơ sinh đ&ecirc;́n khi 6 tu&ocirc;̉i giúp cho các bậc cha mẹ xác định con của mình có phát tri&ecirc;̉n bình thường so với các bạn hay kh&ocirc;ng.</p>
<p style="text-align: justify;"><img class="img-fluid d-block" src="https://i.imgur.com/TYEdswq.jpg" alt="" width="650" height="365" /></p>
<p style="text-align: justify;">Chiều cao, c&acirc;n nặng của trẻ trong những năm đầu đời v&ocirc; c&ugrave;ng quan trọng. Biểu đồ tăng trưởng dưới đ&acirc;y gi&uacute;p bạn bạn theo d&otilde;i xem em b&eacute; của bạn c&oacute; ph&aacute;t triển t&ocirc;́t đ&uacute;ng theo thời gian hay kh&ocirc;ng.</p>
<p style="text-align: justify;"><img class="img-fluid d-block" src="https://i.imgur.com/FqOVwDj.jpg" alt="" width="650" height="280" /></p>
<p>Kh&ocirc;ng c&oacute; chiều cao v&agrave; c&acirc;n nặng l&yacute; tưởng cho một em b&eacute;, nhưng c&oacute; một m&ocirc; h&igrave;nh tăng trưởng m&agrave; hầu hết c&aacute;c em b&eacute; đ&ecirc;̀u có th&ecirc;̉ áp dụng theo.</p>
<p style="text-align: justify;">C&aacute;c b&eacute; trai v&agrave; b&eacute; g&aacute;i c&oacute; biểu đồ tăng trưởng ri&ecirc;ng biệt, bởi v&igrave; c&aacute;c b&eacute; trai trung b&igrave;nh hơi nặng hơn v&agrave; cao hơn so với c&aacute;c b&eacute; g&aacute;i, v&agrave; c&aacute;c m&ocirc; h&igrave;nh tăng trưởng của ch&uacute;ng kh&aacute;c nhau.</p>
<p style="text-align: justify;"><img class="img-fluid d-block" src="https://i.imgur.com/LzPKMsU.jpg" alt="" width="650" height="359" /></p>
<p style="text-align: justify;"><strong>Theo tư vấn từ Ths. Bs. Nguyễn Văn Tiến, Trung t&acirc;m gi&aacute;o dục truyền th&ocirc;ng dinh dưỡng, Viện Dinh dưỡng Quốc gia:</strong></p>
<p style="text-align: justify;"><img class="img-fluid d-block" src="https://i.imgur.com/MWakWuV.jpg" alt="" width="650" height="433" /></p>
<p>- Phụ huynh chỉ cần theo d&otilde;i c&acirc;n nặng, chiều cao của con một c&aacute;ch rất đơn giản với 2 dụng cụ l&agrave; c&acirc;n v&agrave; thước.</p>
<p>- N&ecirc;n theo d&otilde;i 1 lần/ th&aacute;ng v&agrave;o 1 ng&agrave;y nhất định, c&acirc;n trước khi ăn hoặc sau ăn để c&oacute; số liệu ch&iacute;nh x&aacute;c.</p>
<p>- Chỉ mặc quần &aacute;o mỏng hoặc trừ quần &aacute;o, với trẻ &lt;24 th&aacute;ng tuổi đo chiều d&agrave;i nằm v&agrave; &ge; 24 th&aacute;ng tuổi đo chiều cao đứng.</p>
<p>- Đối với c&aacute;c b&eacute; nhỏ mẹ đặt b&eacute; nằm thẳng tr&ecirc;n giường v&agrave; d&ugrave;ng thước d&acirc;y đo chiều d&agrave;i từ đỉnh đầu của b&eacute; đến g&oacute;t ch&acirc;n.</p>
<p style="text-align: justify;">- Với những b&eacute; lớn hơn mẹ c&oacute; thể y&ecirc;u cầu con đứng cạnh tường hoặc cột nh&agrave; v&agrave; vạch 1 đường tr&ecirc;n tường. Sau đ&oacute; d&ugrave;ng thước d&acirc;y hoặc thước cuộn đo lại.</p>
<p style="text-align: justify;"><img class="img-fluid d-block" src="https://i.imgur.com/cUqNIvL.jpg" alt="" width="650" height="391" /></p>
<h3 style="text-align: justify;"><strong>Hướng dẫn chi tiết c&aacute;ch đo c&acirc;n nặng cho con:</strong></h3>
<p style="text-align: justify;"><img class="img-fluid d-block" src="https://i.imgur.com/l9Gsk7B.jpg" alt="" width="650" height="325" /></p>
<p>- Cho b&eacute; đi đại hoặc tiểu tiện trước khi c&acirc;n.</p>
<p>- Cởi bỏ &aacute;o kho&aacute;c hoặc gi&agrave;y d&eacute;p v&agrave; những vật dụng c&oacute; trọng lượng trước khi cho b&eacute; đứng l&ecirc;n c&acirc;n.</p>
<p>- Với c&aacute;c b&eacute; nhỏ, cha mẹ n&ecirc;n đặt b&eacute; nằm ngửa hoặc cho b&eacute; nằm v&agrave;o th&ugrave;ng giấy để dễ c&acirc;n. Sau đ&oacute; mẹ c&acirc;n lại th&ugrave;ng giấy v&agrave; trừ đi l&agrave; được.</p>
<p>&nbsp;</p>
<h3 style="text-align: justify;"><strong>Bảng chiều cao c&acirc;n nặng của trẻ từ sơ sinh đ&ecirc;́n khi 6 tu&ocirc;̉i</strong></h3>
<table border="1">
<tbody>
<tr>
<td style="width: 650px;" colspan="3" width="439">
<p style="text-align: center;"><strong>Tỷ lệ chiều cao, c&acirc;n nặng trung b&igrave;nh cho b&eacute; gái</strong></p>
</td>
<td colspan="3" width="439">
<p style="text-align: center;"><strong>Tỷ lệ chiều cao, c&acirc;n nặng trung b&igrave;nh cho b&eacute; trai</strong></p>
</td>
</tr>
<tr>
<td width="146">
<p>Tuổi t&aacute;c</p>
</td>
<td width="146">
<p>C&acirc;n nặng</p>
</td>
<td width="146">
<p>Chiều d&agrave;i</p>
</td>
<td width="146">
<p>Tuổi t&aacute;c</p>
</td>
<td width="146">
<p>C&acirc;n nặng</p>
</td>
<td width="146">
<p>Chiều d&agrave;i</p>
</td>
</tr>
<tr>
<td width="146">
<p>0 th&aacute;ng</p>
</td>
<td width="146">
<p>3,3 kg</p>
</td>
<td width="146">
<p>49,2 cm</p>
</td>
<td width="146">
<p>0 th&aacute;ng</p>
</td>
<td width="146">
<p>3,3 kg</p>
</td>
<td width="146">
<p>49,8 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>1 th&aacute;ng</p>
</td>
<td width="146">
<p>4,3 kg</p>
</td>
<td width="146">
<p>53,8 cm</p>
</td>
<td width="146">
<p>1 th&aacute;ng</p>
</td>
<td width="146">
<p>4,4 kg</p>
</td>
<td width="146">
<p>54,8 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>2 th&aacute;ng</p>
</td>
<td width="146">
<p>5,3 kg</p>
</td>
<td width="146">
<p>56,1 cm</p>
</td>
<td width="146">
<p>2 th&aacute;ng</p>
</td>
<td width="146">
<p>5,6 kg</p>
</td>
<td width="146">
<p>58,4 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>3 th&aacute;ng</p>
</td>
<td width="146">
<p>6,0 kg</p>
</td>
<td width="146">
<p>59,9 cm</p>
</td>
<td width="146">
<p>3 th&aacute;ng</p>
</td>
<td width="146">
<p>6,4 kg</p>
</td>
<td width="146">
<p>61,4 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>4 th&aacute;ng</p>
</td>
<td width="146">
<p>6,6 kg</p>
</td>
<td width="146">
<p>62,2 cm</p>
</td>
<td width="146">
<p>4 th&aacute;ng</p>
</td>
<td width="146">
<p>7 kg</p>
</td>
<td width="146">
<p>64 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>5 th&aacute;ng</p>
</td>
<td width="146">
<p>7,1 kg</p>
</td>
<td width="146">
<p>64,2 cm</p>
</td>
<td width="146">
<p>5 th&aacute;ng</p>
</td>
<td width="146">
<p>7,5 kg</p>
</td>
<td width="146">
<p>66 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>6 th&aacute;ng</p>
</td>
<td width="146">
<p>7,5 kg</p>
</td>
<td width="146">
<p>64,1 cm</p>
</td>
<td width="146">
<p>6 th&aacute;ng</p>
</td>
<td width="146">
<p>7,9 kg</p>
</td>
<td width="146">
<p>67,5 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>7 th&aacute;ng</p>
</td>
<td width="146">
<p>7,9 kg</p>
</td>
<td width="146">
<p>67,3 cm</p>
</td>
<td width="146">
<p>7 th&aacute;ng</p>
</td>
<td width="146">
<p>8,3 kg</p>
</td>
<td width="146">
<p>69 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>8 th&aacute;ng</p>
</td>
<td width="146">
<p>8,2 kg</p>
</td>
<td width="146">
<p>68,8 cm</p>
</td>
<td width="146">
<p>8 tuổi</p>
</td>
<td width="146">
<p>8,6 kg</p>
</td>
<td width="146">
<p>70,6 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>9 th&aacute;ng</p>
</td>
<td width="146">
<p>8,5 kg</p>
</td>
<td width="146">
<p>70,1 cm</p>
</td>
<td width="146">
<p>9 th&aacute;ng</p>
</td>
<td width="146">
<p>8,9 kg</p>
</td>
<td width="146">
<p>71,8 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>10 th&aacute;ng</p>
</td>
<td width="146">
<p>8,8 kg</p>
</td>
<td width="146">
<p>71,6 cm</p>
</td>
<td width="146">
<p>10 th&aacute;ng</p>
</td>
<td width="146">
<p>9,1 kg</p>
</td>
<td width="146">
<p>73,1 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>11 th&aacute;ng</p>
</td>
<td width="146">
<p>9,0 kg</p>
</td>
<td width="146">
<p>72,8 cm</p>
</td>
<td width="146">
<p>11 th&aacute;ng</p>
</td>
<td width="146">
<p>9,4 kg</p>
</td>
<td width="146">
<p>74,4 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>12 th&aacute;ng</p>
</td>
<td width="146">
<p>9,2 kg</p>
</td>
<td width="146">
<p>74,1 cm</p>
</td>
<td width="146">
<p>12 th&aacute;ng</p>
</td>
<td width="146">
<p>9,6 kg</p>
</td>
<td width="146">
<p>75,7 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>13 th&aacute;ng</p>
</td>
<td width="146">
<p>9,5 kg</p>
</td>
<td width="146">
<p>75,1 cm</p>
</td>
<td width="146">
<p>13 th&aacute;ng</p>
</td>
<td width="146">
<p>9,9 kg</p>
</td>
<td width="146">
<p>76,9 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>14 th&aacute;ng</p>
</td>
<td width="146">
<p>9,7 kg</p>
</td>
<td width="146">
<p>76,4 cm</p>
</td>
<td width="146">
<p>14 th&aacute;ng</p>
</td>
<td width="146">
<p>10,1 kg</p>
</td>
<td width="146">
<p>77,9 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>15 th&aacute;ng</p>
</td>
<td width="146">
<p>9,9 kg</p>
</td>
<td width="146">
<p>77,7 cm</p>
</td>
<td width="146">
<p>15 th&aacute;ng</p>
</td>
<td width="146">
<p>10,3 kg</p>
</td>
<td width="146">
<p>79,2 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>16 th&aacute;ng</p>
</td>
<td width="146">
<p>10,2 kg</p>
</td>
<td width="146">
<p>78,4 cm</p>
</td>
<td width="146">
<p>16 th&aacute;ng</p>
</td>
<td width="146">
<p>10,5 kg</p>
</td>
<td width="146">
<p>80,2 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>17 th&aacute;ng</p>
</td>
<td width="146">
<p>10,4 kg</p>
</td>
<td width="146">
<p>79,7 cm</p>
</td>
<td width="146">
<p>17 th&aacute;ng</p>
</td>
<td width="146">
<p>10,7 kg</p>
</td>
<td width="146">
<p>81,2 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>18 th&aacute;ng</p>
</td>
<td width="146">
<p>10,6 kg</p>
</td>
<td width="146">
<p>80,7 cm</p>
</td>
<td width="146">
<p>18 th&aacute;ng</p>
</td>
<td width="146">
<p>10,9 kg</p>
</td>
<td width="146">
<p>82,2 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>19 th&aacute;ng</p>
</td>
<td width="146">
<p>10,8 kg</p>
</td>
<td width="146">
<p>81,7 cm</p>
</td>
<td width="146">
<p>19 th&aacute;ng</p>
</td>
<td width="146">
<p>11,2 kg</p>
</td>
<td width="146">
<p>83,3 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>20 th&aacute;ng</p>
</td>
<td width="146">
<p>11 kg</p>
</td>
<td width="146">
<p>82,8 cm</p>
</td>
<td width="146">
<p>20 th&aacute;ng</p>
</td>
<td width="146">
<p>11,3 kg</p>
</td>
<td width="146">
<p>84 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>21 th&aacute;ng</p>
</td>
<td width="146">
<p>11,3 kg</p>
</td>
<td width="146">
<p>83,5 cm</p>
</td>
<td width="146">
<p>21 th&aacute;ng</p>
</td>
<td width="146">
<p>11,5 kg</p>
</td>
<td width="146">
<p>85 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>22 th&aacute;ng</p>
</td>
<td width="146">
<p>11,5 kg</p>
</td>
<td width="146">
<p>84,8 cm</p>
</td>
<td width="146">
<p>22 th&aacute;ng</p>
</td>
<td width="146">
<p>11,7 kg</p>
</td>
<td width="146">
<p>86,1 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>23 th&aacute;ng</p>
</td>
<td width="146">
<p>11,7 kg</p>
</td>
<td width="146">
<p>85,1 cm</p>
</td>
<td width="146">
<p>23 th&aacute;ng</p>
</td>
<td width="146">
<p>11,9 kg</p>
</td>
<td width="146">
<p>86,8 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>2 tuổi</p>
</td>
<td width="146">
<p>12,0 kg</p>
</td>
<td width="146">
<p>85,5 cm</p>
</td>
<td width="146">
<p>2 tuổi</p>
</td>
<td width="146">
<p>12,5 kg</p>
</td>
<td width="146">
<p>86,8 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>3 tuổi</p>
</td>
<td width="146">
<p>14,2 kg</p>
</td>
<td width="146">
<p>94 cm</p>
</td>
<td width="146">
<p>3 tuổi</p>
</td>
<td width="146">
<p>14,0 kg</p>
</td>
<td width="146">
<p>95,2 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>4 tuổi</p>
</td>
<td width="146">
<p>15,4 kg</p>
</td>
<td width="146">
<p>100,3 cm</p>
</td>
<td width="146">
<p>4 tuổi</p>
</td>
<td width="146">
<p>16,3 kg</p>
</td>
<td width="146">
<p>102,3 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>5 tuổi</p>
</td>
<td width="146">
<p>17,9 kg</p>
</td>
<td width="146">
<p>107,9 cm</p>
</td>
<td width="146">
<p>5 tuổi</p>
</td>
<td width="146">
<p>18,4 kg</p>
</td>
<td width="146">
<p>109,2 cm</p>
</td>
</tr>
<tr>
<td width="146">
<p>6 tuổi</p>
</td>
<td width="146">
<p>19,9 kg</p>
</td>
<td width="146">
<p>115,5 cm</p>
</td>
<td width="146">
<p>6 tuổi</p>
</td>
<td width="146">
<p>20,6 kg</p>
</td>
<td width="146">
<p>115,5 cm</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<blockquote>
<p><em>&gt;&gt;&gt; </em><em><a href="/">Xem th&ecirc;m Bí quy&ecirc;́t giúp con bạn tự v&acirc;̣n đ&ocirc;̣ng, ham ăn, ngủ s&acirc;u gi&acirc;́c, bi&ecirc;́t đi sớm, cười đùa su&ocirc;́t ngày mà kh&ocirc;ng c&acirc;̀n b&ocirc;́ mẹ &ocirc;m &acirc;́p</a></em></p>
</blockquote>
<p>&nbsp;</p>
