<p>Khi c&aacute;c mẹ đi l&agrave;m trở lại hoặc đi học, kh&ocirc;ng phải l&uacute;c n&agrave;o mẹ cũng thường xuy&ecirc;n ở b&ecirc;n cạnh v&agrave; cho con b&uacute; được. C&aacute;c mẹ đều thấy cần bảo quản v&agrave; cất trữ sữa mẹ để con c&oacute; thể được cung cấp sữa mẹ li&ecirc;n tục h&agrave;ng ng&agrave;y. Con của bạn c&oacute; thể tiếp tục nhận được những lợi &iacute;ch từ sữa của bạn, ngay cả khi bạn kh&ocirc;ng ở cạnh. C&aacute;c hướng dẫn dưới đ&acirc;y c&oacute; thể trả lời nhiều c&acirc;u hỏi m&agrave; c&aacute;c b&agrave; mẹ thường băn khoăn về việc bảo quản, cất trữ sữa mẹ an to&agrave;n.</p>
<p style="text-align: justify;">Sữa mẹ l&agrave; thức ăn tốt nhất cho trẻ, nhất l&agrave; trẻ dưới 1 tuổi, v&igrave; trong sữa mẹ c&oacute; đủ năng lượng từ c&aacute;c chất dinh dưỡng cần thiết như đạm, đường, mỡ, vitamin v&agrave; muối kho&aacute;ng với tỉ lệ th&iacute;ch hợp cho sự hấp thu v&agrave; ph&aacute;t triển cơ thể trẻ.</p>
<p style="text-align: justify;">L&agrave;m thế n&agrave;o để bảo quản v&agrave; lưu trữ sữa mẹ của bạn phụ thuộc v&agrave;o bao l&acirc;u bạn muốn sử dụng n&oacute;. Nếu bạn định sử dụng n&oacute; trong v&ograve;ng v&agrave;i ng&agrave;y, việc l&agrave;m lạnh (ngăn m&aacute;t) tốt hơn l&agrave; đ&oacute;ng băng (ngăn đ&aacute;). Sữa đ&ocirc;ng đ&aacute; thường mất một số chất dinh dưỡng chống lại sự nhiễm tr&ugrave;ng, nhưng sữa mẹ đ&ocirc;ng đ&aacute; vẫn tốt hơn cho em b&eacute; của bạn hơn sữa bột.</p>
<p style="text-align: justify;"><strong>&nbsp;</strong></p>
<h3 style="text-align: justify;"><strong>1/ Bảo quản khi vắt sữa mẹ</strong></h3>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><img src="https://i.imgur.com/aj5UjiX.png" alt="" width="650" height="487" /></p>
<p style="text-align: justify;">+&nbsp; Rửa tay kỹ bằng x&agrave; b&ocirc;ng v&agrave; nước.</p>
<p style="text-align: justify;">+&nbsp; Rửa tất cả c&aacute;c chai, lọ đựng sữa, b&igrave;nh tiệt tr&ugrave;ng v&agrave; c&aacute;c bộ phận của dụng cụ sẽ chạm trực tiếp v&agrave;o v&uacute; hoặc sữa của bạn. Sử dụng nước n&oacute;ng, x&agrave; ph&ograve;ng. Rửa sạch cẩn thận. Nếu con qu&yacute; vị sinh non hoặc bị bệnh, việc khử tr&ugrave;ng c&aacute;c bộ phận m&aacute;y h&uacute;t sữa l&agrave; cần thiết.</p>
<p style="text-align: justify;">+&nbsp; Chọn chai nhựa hoặc t&uacute;i sữa bằng nhựa. Chai thủy tinh c&oacute; thể bị nứt hoặc bị vỡ.</p>
<p style="text-align: justify;">+&nbsp; Đọc kỹ hướng dẫn đi k&egrave;m với m&aacute;y h&uacute;t sữa của bạn v&agrave; l&agrave;m theo c&aacute;c hướng dẫn.</p>
<p style="text-align: justify;">+&nbsp; Thực hiện h&uacute;t sữa khi bạn nghỉ ngơi, thư gi&atilde;n v&agrave; ngực của bạn cảm thấy đầy sữa. Mỗi ng&agrave;y một lần cố gắng cho con b&uacute; sữa mẹ chỉ một b&ecirc;n v&agrave; h&uacute;t sữa ở v&uacute; c&ograve;n lại.</p>
<p style="text-align: justify;">+&nbsp; Bạn n&ecirc;n bắt đầu thực hiện h&uacute;t sữa để lưu trữ trước từ một đến hai tuần trước khi đi l&agrave;m trở lại.</p>
<p style="text-align: justify;">+&nbsp; Bạn c&oacute; thể h&uacute;t sữa ba lần trong một ca l&agrave;m việc t&aacute;m tiếng, hoặc sau ba tiếng bạn c&aacute;ch xa em b&eacute;. Mười ph&uacute;t h&uacute;t sữa trong giờ nghỉ v&agrave; 15 ph&uacute;t h&uacute;t sữa trong giờ ăn trưa với một m&aacute;y h&uacute;t sữa tốt sẽ gi&uacute;p bảo vệ nguồn sữa của bạn.</p>
<p style="text-align: justify;">+&nbsp; Cho con b&uacute; v&agrave;o buổi tối v&agrave; ng&agrave;y nghỉ sẽ gi&uacute;p duy tr&igrave; nguồn sữa của bạn v&agrave; bảo vệ mối quan hệ đặc biệt của bạn với con bạn.</p>
<p style="text-align: justify;">+&nbsp; Nếu bạn muốn đ&oacute;ng băng sữa, h&atilde;y l&agrave;m ngay sau khi h&uacute;t sữa c&agrave;ng tốt. Để dư lại một khoảng trống ở đầu mỗi chai hoặc t&uacute;i.</p>
<p style="text-align: justify;">&nbsp;</p>
<h3 style="text-align: justify;"><strong>2/ Lưu trữ sữa mẹ</strong></h3>
<table border="1">
<tbody>
<tr>
<td width="160">
<p><strong>Nhiệt độ ph&ograve;ng từ 16 đến 25 độ C</strong></p>
</td>
<td width="160">
<p><strong>Tủ lạnh ngăn m&aacute;t</strong></p>
</td>
<td width="160">
<p><strong>Tủ lạnh ngăn đ&aacute;</strong></p>
</td>
<td width="160">
<p><strong>R&atilde; đ&ocirc;ng sữa đ&atilde; đ&oacute;ng đ&aacute;</strong></p>
</td>
</tr>
<tr>
<td width="160">
<p>&nbsp;</p>
<p>Chỉ n&ecirc;n lưu trữ, bảo quản sữa tối đa trong 4 tiếng</p>
<p>&nbsp;</p>
</td>
<td width="160">
<p>&nbsp;</p>
<p>Chỉ n&ecirc;n lưu trữ, bảo quản sữa tối đa trong 3 ng&agrave;y</p>
<p>&nbsp;</p>
</td>
<td width="160">
<p>&nbsp;</p>
<p>Chỉ n&ecirc;n lưu trữ, bảo quản sữa tối đa trong 6 th&aacute;ng</p>
<p>&nbsp;</p>
</td>
<td width="160">
<p>&nbsp;</p>
<p>Với nhiệt độ ph&ograve;ng b&igrave;nh thường th&igrave; chỉ n&ecirc;n lưu trữ, bảo quản tối đa trong 2 tiếng</p>
<p>&nbsp;</p>
<p>Nếu để trong ngăn m&aacute;t th&igrave; chỉ n&ecirc;n lưu trữ, bảo quản tối đa trong 24 tiếng</p>
<p>Ch&uacute; &yacute; kh&ocirc;ng n&ecirc;n h&acirc;m lại sữa bằng c&aacute;ch l&agrave;m n&oacute;ng đột ngột</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;"><strong>&nbsp;</strong></p>
<p style="text-align: justify;">+&nbsp; Sữa được cất trữ sẽ ph&acirc;n t&aacute;ch th&agrave;nh c&aacute;c lớp. Điều n&agrave;y l&agrave; b&igrave;nh thường, v&igrave; vậy chỉ cần lắc nhẹ nh&agrave;ng để trộn n&oacute; l&ecirc;n một lần nữa.</p>
<p style="text-align: justify;">+&nbsp; Tr&aacute;nh th&ecirc;m sữa ấm v&agrave;o sữa đ&atilde; được l&agrave;m lạnh.</p>
<p style="text-align: justify;">+&nbsp; Lưu trữ sữa của bạn trong chai chuy&ecirc;n dụng&nbsp;hoặc trong&nbsp;t&uacute;i d&ugrave;ng một lần được thiết kế đặc biệt cho sữa mẹ.</p>
<p style="text-align: justify;">+&nbsp; Ni&ecirc;m phong hộp, t&uacute;i k&iacute;n.&nbsp;Viết ng&agrave;y cất trữ tr&ecirc;n một miếng băng d&aacute;n tr&ecirc;n t&uacute;i hoặc chai.&nbsp;Sử dụng sữa cũ nhất trước.</p>
<p style="text-align: justify;">+&nbsp; Bạn c&oacute; thể l&agrave;m ấm sữa bằng c&aacute;ch đặt chai hoặc t&uacute;i k&iacute;n v&agrave;o một b&aacute;t nước ấm.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><img src="https://i.imgur.com/ISBeQlI.png" alt="" width="650" height="487" /></p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">+&nbsp; Bạn c&oacute; thể đ&oacute;ng băng một lượng sữa rất nhỏ trong khay đ&aacute;, l&yacute; tưởng nhất l&agrave; c&oacute; nắp đậy, hoặc bạn c&oacute; thể cất giữ khay b&ecirc;n trong một t&uacute;i đ&ocirc;ng lạnh k&iacute;n, sạch, tiệt tr&ugrave;ng. Những lượng nhỏ n&agrave;y sẽ r&atilde; đ&ocirc;ng nhanh hơn v&agrave; thật l&yacute; tưởng nếu bạn cần sữa mẹ trộn với thức ăn của b&eacute; khi bạn tập cho trẻ ăn dặm.</p>
<p style="text-align: justify;">+&nbsp; Kh&ocirc;ng bao giờ đ&oacute;ng băng lại sữa mẹ sau khi đ&atilde; r&atilde; đ&ocirc;ng.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>Nếu muốn sử dụng t&uacute;i đựng sữa, cha mẹ n&ecirc;n lưu &yacute;:</strong></p>
<p style="text-align: justify;">+ &nbsp;Sữa được đựng trong t&uacute;i thường c&oacute; nguy cơ bị r&ograve; rỉ nhiều hơn. Một số h&atilde;ng sản xuất ra những chiếc t&uacute;i đựng sữa chất lượng tốt nhưng gi&aacute; th&agrave;nh lại kh&aacute; đắt. Để tiết kiệm, bạn c&oacute; thể mua 2 loại t&uacute;i: một loại d&ugrave;ng trữ sữa trong ngăn m&aacute;t tủ lạnh; loại đắt hơn d&ugrave;ng đựng sữa trong ngăn đ&aacute;. Điều n&agrave;y sẽ giảm thiểu những vết r&aacute;ch nhỏ xuất hiện tr&ecirc;n bề mặt t&uacute;i.</p>
<p style="text-align: justify;">+&nbsp; Nếu sữa trong b&igrave;nh (t&uacute;i) c&oacute; m&agrave;u trắng đục như đ&aacute;m m&acirc;y sau khi r&atilde; đ&ocirc;ng th&igrave; c&oacute; khả năng sữa đ&atilde; bị r&ograve;. Kh&ocirc;ng n&ecirc;n cho b&eacute; ăn sữa n&agrave;y v&igrave; n&oacute; kh&ocirc;ng đảm bảo chất lượng.</p>
<p style="text-align: justify;">&nbsp;</p>
<h3 style="text-align: justify;"><strong>3/ T&ocirc;i n&ecirc;n cất bao nhi&ecirc;u sữa mẹ trong mỗi t&uacute;i?</strong></h3>
<p style="text-align: justify;">Dưới đ&acirc;y l&agrave; một số nguy&ecirc;n tắc chung c&oacute; thể hữu &iacute;ch:</p>
<p style="text-align: justify;">+&nbsp; Đối với trẻ sơ sinh 1-2 tuần tuổi, 60-90 ml mỗi lần cho ăn.</p>
<p style="text-align: justify;">+&nbsp; Đối với trẻ sơ sinh 1-6 th&aacute;ng tuổi, 90-150 ml mỗi lần cho ăn.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><img src="https://i.imgur.com/J2c5q85.png" alt="" width="650" height="341" /></p>
<p style="text-align: justify;">&nbsp;</p>
<h3 style="text-align: justify;"><strong>4/ Sữa mẹ bị thay đổi m&ugrave;i vị</strong></h3>
<p style="text-align: justify;">Nguy&ecirc;n nh&acirc;n của việc sữa mẹ bị thay đổi m&ugrave;i vị.</p>
<p style="text-align: justify;">Những thay đổi trong m&ugrave;i vị của sữa mẹ c&oacute; thể do thuốc m&agrave; mẹ uống, chế độ ăn uống của mẹ, h&uacute;t thuốc v&agrave; tiếp x&uacute;c sữa với &aacute;nh s&aacute;ng mặt trời hoặc nhiệt độ lạnh trong qu&aacute; tr&igrave;nh bảo quản. Trong hầu hết c&aacute;c trường hợp, trẻ sơ sinh dường như kh&ocirc;ng nhớ m&ugrave;i, hương vị trong sữa mẹ.</p>
<p style="text-align: justify;">&nbsp;</p>
<h3 style="text-align: justify;"><strong>5/ C&aacute;c t&igrave;nh huống đặc biệt</strong></h3>
<p style="text-align: justify;">Nếu b&eacute; sinh non, c&aacute;c hướng dẫn n&ecirc;u tr&ecirc;n c&oacute; thể sẽ hơi kh&aacute;c một ch&uacute;t. Bạn n&ecirc;n hỏi &yacute; kiến b&aacute;c sĩ của m&igrave;nh để biết c&aacute;c hướng dẫn lưu trữ được đề xuất cho t&igrave;nh huống cụ thể của bạn.</p>
<p style="text-align: justify;">Kh&ocirc;ng bao giờ quay vi s&oacute;ng sữa mẹ. L&ograve; vi s&oacute;ng c&oacute; thể g&acirc;y bỏng nặng cho miệng của em b&eacute; từ c&aacute;c khu vực c&oacute; nhiệt độ n&oacute;ng cao trong sữa sau khi quay vi s&oacute;ng. Ngo&agrave;i ra, L&ograve; vi s&oacute;ng cũng c&oacute; thể thay đổi th&agrave;nh phần của sữa mẹ.</p>
<p style="text-align: justify;">&nbsp;</p>
<h3 style="text-align: justify;"><strong>6/ R&atilde; đ&ocirc;ng</strong></h3>
<p style="text-align: justify;">L&agrave;m tan sữa đ&atilde; đ&ocirc;ng đ&aacute; bằng c&aacute;ch để qua đ&ecirc;m trong tủ lạnh, hoặc giữ chai sữa dưới v&ograve;i nước ấm để nhanh ch&oacute;ng tan đ&aacute;. Bạn cũng c&oacute; thể đặt chai sữa trong một b&aacute;t nước ấm trong 20 ph&uacute;t để đưa sữa về tương đương nhiệt độ cơ thể.</p>
<p style="text-align: justify;">Khoảng ba đến bốn th&aacute;ng, tỷ lệ tăng trưởng của con b&uacute; sữa mẹ sẽ bắt đầu chậm lại. Tiếp tục tăng c&acirc;n nhanh ch&oacute;ng sau thời gian n&agrave;y c&oacute; thể g&oacute;p phần g&acirc;y b&eacute;o ph&igrave; sau n&agrave;y. Điều n&agrave;y c&oacute; nghĩa l&agrave; việc cung cấp sữa từ khi vừa sinh ra đến thời gian n&agrave;y sẽ đủ cho em b&eacute; cho đến khi đến l&uacute;c cho b&eacute; ăn dặm sau 6 th&aacute;ng.</p>
<p style="text-align: justify;">Sữa c&ocirc;ng thức khiến trẻ kh&oacute; ti&ecirc;u h&oacute;a hơn v&agrave; hấp thụ &iacute;t hơn. Trẻ b&uacute; sữa c&ocirc;ng thức c&oacute; thể cần thức ăn lớn hơn. Tham khảo &yacute; kiến ​​b&aacute;c sĩ để được tư vấn tốt nhất.</p>
<p style="text-align: justify;"><em>&gt;&gt;&gt; Xem th&ecirc;m <a href="/"><strong>Bí quy&ecirc;́t giúp con bạn tự v&acirc;̣n đ&ocirc;̣ng, ham ăn, ngủ s&acirc;u gi&acirc;́c, bi&ecirc;́t đi sớm</strong></a>, cười đùa su&ocirc;́t ngày mà kh&ocirc;ng c&acirc;̀n b&ocirc;́ mẹ &ocirc;m &acirc;́p</em></p>
<p style="text-align: justify;">&nbsp;</p>
