<!-- thieu link -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active mb-carousel banner-h">
      <img class="d-block img-fluid mb-img " src="../../static/image/sp2.jpg" alt="">
      <div class="banner_nen"></div>
      <div class="container-fluid">
        <div class="banner-text ">
          <h1 class="display-4 "> Xích Đu Nhún Nhảy Jumperkids </h1>
          <div class="text-center">
            <div class="d-inline-block text-left">
              <h4> <i class="far fa-hand-point-right"></i> Bé tự chơi, không cần bế </h4>
              <h4> <i class="far fa-hand-point-right"></i> Bé ham ăn, ngủ sâu giấc </h4>
              <h4> <i class="far fa-hand-point-right"></i> Nâng cao sức đề kháng </h4>
              <h4> <i class="far fa-hand-point-right"></i> Phát triển hệ cơ, xương </h4>
              <h4> <i class="far fa-hand-point-right"></i> Biết đi nhanh hơn </h4>
            </div>

            <p class="text-center display-4">
              <a class="text-light" href="#">
                <i class="fa fa-arrow-circle-down"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
