<!-- dat link cho nut -->


<div class="container-fluid bg-dark text-white text-center">
  <h2 class="d-inline-block my-5 display-4"> CHÍNH SÁCH </h2>
  <div class="row">

    <div class="col-12 col-md-3">
      <i class="fas fa-exchange-alt display-4 my-3"></i>
      <h5>
        Miễn phí đổi trả sản phẩm
        <br>
        trong 30 ngày đầu tiên
      </h5>
      <a href="chinh-sach-doi-tra-san-pham" class="btn btn-danger tiet-kiem-title" role="button">Chi tiết</a>
    </div>

    <div class="col-12 col-md-3">
      <i class="fas fa-heart display-4 my-3"></i>
      <h5>
        Bảo hành 6 tháng
        <br>
        ...
      </h5>
      <a href="chinh-sach-bao-hanh-san-pham" class="btn btn-danger tiet-kiem-title" role="button">Chi tiết</a>
    </div>

    <div class="col-12 col-md-3">
      <i class="fas fa-truck display-4 my-3"></i>
      <h5>
        Miễn phí vận chuyển
        <br>
        toàn quốc
      </h5>
      <a href="chinh-sach-giao-nhan-van-chuyen" class="btn btn-danger tiet-kiem-title" role="button">Chi tiết</a>
    </div>

    <div class="col-12 col-md-3">
      <i class="fas fa-shopping-cart display-4 my-3"></i>
      <h5>
        Hình thức thanh toán
        <br>
        ...
      </h5>
      <a href="hinh-thuc-thanh-toan-thuan-tien-tai-nha-khach-hang" class="btn btn-danger tiet-kiem-title" role="button">Chi tiết</a>
    </div>

  </div>

</div>
