<!-- cat bot video, tao them video -->

<div id="link-banner" class="container-fluid text-center">

  <h2 class="d-inline-block mt-3"> KINH NGHIỆM CỦA CÁC MẸ </h2>

  <div class="row">
    <div class="col-12 col-sm-4 my-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xRZmkc8rQMQ"></iframe>
      </div>
    </div>

    <div class="col-12 col-sm-4 my-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GKnzkxrrVP8"></iframe>
      </div>
    </div>

    <div class="col-12 col-sm-4 my-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q6e-K_RONZ4"></iframe>
      </div>
    </div>

    <div class="col-12 col-sm-4 my-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tpntPbNG2lE"></iframe>
      </div>
    </div>

    <div class="col-12 col-sm-4 my-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Kg_tq9ReswI"></iframe>
      </div>
    </div>

    <div class="col-12 col-sm-4 my-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/06sd56SaTIY"></iframe>
      </div>
    </div>


  </div>

  <a href="xich-du-nhun-nhay-jumperkids" class="btn btn-danger my-4 sp-font-size" role="button">Chi tiết về sản phẩm </a>
</div>
