<div class="container-fluid bg-dark text-white text-center">
  <h2 class="d-inline-block my-5"> Chỉ với 699k Jumperkids tiết kiệm cho bạn </h2>
  <div class="row">
    <div class="col-12 col-md-4">
      <img src="../../static/image/trong-tre.jpg" class="tiet-kiem-img-round img-fluid" alt="">
      <h5 class="tiet-kiem-title">
        Không phải thuê người trông trẻ
        <br>
        (3 triệu/ tháng)
      </h5>
    </div>

    <div class="col-12 col-md-4">
      <img src="../../static/image/xe-tap-di.jpg" class="tiet-kiem-img-round img-fluid" alt="">
      <h5 class="tiet-kiem-title">
        Không phải mua Xe tập đi
        <br>
        (từ 700k – 1000k)
      </h5>
    </div>

    <div class="col-12 col-md-4">
      <img src="../../static/image/diu.jpg" class="tiet-kiem-img-round img-fluid" alt="">
      <h5 class="tiet-kiem-title">
        Không phải mua Địu cho con
        <br>
        (từ 300k – 600k)
      </h5>
    </div>

  </div>

  <div class="row">
    <div class="col-12 col-md-4 offset-md-2">
      <img src="../../static/image/con-an-toan.jpg" class="tiet-kiem-img-round img-fluid" alt="">
      <h5 class="tiet-kiem-title">
        Con an toàn, bố mẹ an tâm
      </h5>
    </div>

    <div class="col-12 col-md-4">
      <img src="../../static/image/do-choi.jpg" class="tiet-kiem-img-round img-fluid" alt="">
      <h5 class="tiet-kiem-title">
        Tiết kiệm đồ chơi, bé không tự kỷ
        <br>
        (từ 200k - 500k)
      </h5>
    </div>
  </div>

</div>
