<!-- dat link cho nut -->

<div class="container-fluid bg-dark text-white px-5 py-4 mx-0">
  <div class="row">
    <div class="col-md-7 col-sm-6">
      <!--Column1-->
      <div class="footer-pad">
        <h4 class="text-uppercase">
          <strong>Jumperkids Hà Nội</strong>
        </h4>
        <p>
          <i class="fa fa-home mr-3"></i> Số 8 ngách 37 ngõ 140, Nghĩa Dũng, Phúc Xá, Ba Đình, Hà Nội
        </p>

        <p>
          <i class="fa fa-phone mr-3"></i> Hotline / Zalo: <span class="text-warning"> 0914.554.760 </span>
        </p>

        <p>
          <i class="fab fa-weixin mr-3"></i> Zalo:
          <a class ="text-warning" href="https://zalo.me/0914.554.760">Chat ngay</a>
        </p>

        <p>
          <i class="fab fa-chrome mr-3"></i> Website: jumperkidshanoi.com
        </p>

      </div>
    </div>

    <div class="col-md-5 col-sm-6">
      <!--Column1-->
      <div class="footer-pad">
        <h4 class="text-uppercase">
          <strong>Hướng dẫn</strong>
        </h4>
        <p>
          <a class ="text-warning"  href="#!">Hướng dẫn mua hàng</a>
        </p>

        <p>
          <a class ="text-warning"  href="#!">Giao nhận và thanh toán</a>
        </p>

        <p>
          <a class ="text-warning"  href="#!">Đổi trả và bảo hành</a>
        </p>

      </div>
    </div>

  </div>
</div>

<div class="footer-bottom">
  <div class="container ">
    <div class="row text-center">
      <div class="col-12">
        <!--Footer Bottom-->
        <p> Copyright 2018: jumperkidshanoi.com</p>
      </div>
    </div>
  </div>
</div>
