<!-- Thieu link -->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark row fixed-top">
    <a class="d-inline-block nav-link active text-light pr-0 col-10 col-xs-9 col-md-6" href="xich-du-nhun-nhay-jumperkids">
        Chỉ 699K= Trông trẻ, Xe tập đi, Địu >>
        <span class="text-warning"> XEM NGAY </span>
    </a>

    <button class="navbar-toggler col-2 col-xs-3 col-md-6 mx-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContentLG" aria-controls="navbarSupportedContentLG" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse px-0" id="navbarSupportedContentLG">
      <ul class="navbar-nav mr-auto row w-100" style="float: right">
        <li class="active col-12 col-md-3">
            <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
        </li>

        <li class="col-12 col-md-3">
          <a href="https://zalo.me/0914.554.760" class="btn btn-danger" role="button">Đặt hàng</a>
        </li>

        <li class="nav-item active col-12 col-md-6">
          <a class="nav-link text-light" href="https://zalo.me/0914.554.760">Zalo:
            <span class="text-warning"> 0914.554.760 </span>
          </a>
        </li>

      </ul>
    </div>
  </nav>

</div>
