<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Xích đu nhún nhảy Jumperkids</title>
    {% include "meta-data-sp.html" %}



  </head>

  <body>
    {% include "/page_sp/navigator.html" %}
    {% include "/page_sp/tt-sp.html" %}
    {% include "/page_sp/detail-sp.html" %}
    <br>
    <div class="text-center">
    <h3>Hãy chia sẻ sản phẩm này đến người thân của bạn</h3>
    <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.xichdunhunnhay.com%2Fxich-du-nhun-nhay-jumperkids&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

    {% include "/page_sp/line2.html" %}
    {% include "/page_sp/danh-gia.html" %}
    {% include "/page_sp/tiet-kiem.html" %}
    {% include "/page_sp/line.html" %}
    {% include "/page_sp/footer.html" %}

    <div class="zalo-chat-widget" data-oaid="3554316881365101286" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="350" data-height="420"></div>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
  </body>
</html>
